@font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   src: url(MaterialDesign/MaterialIcons-Regular.eot); /* For IE6-8 */
   src: local('Material Icons'),
     local('MaterialIcons-Regular'),
     url(MaterialDesign/MaterialIcons-Regular.woff2) format('woff2'),
     url(MaterialDesign/MaterialIcons-Regular.woff) format('woff'),
     url(MaterialDesign/MaterialIcons-Regular.ttf) format('truetype');
 }
@import url('https://fonts.googleapis.com/css?family=Lobster');
html, body{
   
   height: 100%;
   width: 100%;
   overflow: hidden;
   background: url(https://img.freepik.com/free-vector/elegant-white-background-with-shiny-lines_1017-17580.jpg?size=626&ext=jpg);
}
.container
{
   border: 2px solid black;
   width: 60rem;
   height: 40rem;
   margin-top: 1rem;
   padding: 0;
   background: rgba(153, 159, 160, 0.692);
   border-radius: 3rem;
}
#container2
{
   text-align: center;
   
}
#list-group
{
   background: rgb(70, 197, 192);
}
header
{
   height: 5rem;
   
}
footer
{
   height: 5rem;
}
main
{
   height: 30rem;
   overflow: auto;
   border: 1.5px solid black;
   border-radius: 0.5rem;
}
.h1T
{
   height:4rem;
}
.name
{
   font-size: 2rem;
   color: black;
   text-align: center;
   font-family: 'Lobster', cursive;
}

.btn1
{
   float: right;
   width: 4rem;
   margin-top: 1rem;
   border-radius: 100rem;
   background: rgb(50, 165, 180);
}
.signo
{
   font-size: 3rem;
   text-align: center;
}
.btnN
{
   float: right;
   margin: .4rem;
}
.btnL
{
   float: left;
   margin: .4rem;
}
.button
{
   margin-right: 2.7rem;
}
.eventoname
{
   font-size: 1.3rem;
}